footer {
    text-align: center;
    padding: 20px;
    background-color: #aea798;
    color: #ffffff;
}


.contact-links a {
    margin: 0 10px; /* Adjust the margin to increase space between icons */
    color: #fff; /* Set the text color */
}

.contact-links img {
    width: 40px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
}
