.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 20px;
}

.portfolio-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 20px 20px;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: 100%;
    height: auto;
}

.portfolio-item h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center vertically */
    margin-left: 20px; /* Add left margin */
    margin-right: 20px; /* Add right margin */
}

.modal-content iframe {
    width: 100%;
    height: 500px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #655e53;
    text-decoration: none;
    cursor: pointer;
}

#portfolio h2 {
    text-align: center; /* Center the text */
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeIn 3s forwards; /* Apply fade-in animation */
    animation-delay: 0.5s; /* Delay the animation */
    color: #655e53;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Additional styling for h2 */
#portfolio h2 {
    font-size: 3rem; /* Adjust font size as needed */
    margin-bottom: 30px; /* Add some bottom margin */
    color: #655e53; /* Text color */
}

body {
   color: #655e53;
}